{% extends 'store/main.html' %} {% load static %} {% block title %} Checkout {% endblock title %} {% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                <div id="user-info">
                    <p>Đăng ký thông tin:</p>
                    <hr>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Họ và Tên..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Địa Chỉ Giao Hàng:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Địa chỉ..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="Đường..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="Xã/Phường..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Quận/Huyện..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Tỉnh/Thành phố..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="contact" placeholder="Số Điện Thoại..">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Thanh Toán Khi Nhận Hàng">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <input id="make-payment" class="btn btn-success btn-block" type="submit" value="Đặt Hàng">
        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Quay Lại Giỏ Hàng</a>
            <hr>
            <h3>Giỏ hàng của bạn: </h3>
            <hr> {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2">
                    <p>{{item.product.name}}</p>
                </div>
                <div style="flex:1">
                    <p>{{item.product.price }} VNĐ</p>
                </div>
                <div style="flex:1">
                    <p> x{{item.quantity}}</p>
                </div>
            </div>
            {% endfor %}
            <h5>Số Lượng Sản Phẩm: {{order.get_cart_items}}</h5>
            <h5>Tổng: {{order.get_cart_total }} VNĐ</h5>
        </div>
    </div>
</div>
<script>
    var shipping = '{{ order.shipping }}'
    var total = '{{order.get_cart_total}}'

    if (shipping == 'False') {
        document.getElementById('shipping-info').innerHTML = ''
    }

    if (user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }

    if (shipping == 'False' && user != 'AnonymousUser') {
        document.getElementById('form-wrapper').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    }

    var form = document.getElementById('form')

    crsftoken = form.getElementsByTagName('input')[0].value
    console.log('Newtoken:', form.getElementsByTagName('input')[0].value)

    form.addEventListener('submit', function(e) {
        e.preventDefault()
        console.log('Form submitted...')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function(e) {
        submitFormData()
    })

    function submitFormData() {
        console.log('Payment button clicked')

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
        }

        if (shipping != 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        if (user == 'AnonymousUser') {
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        var url = '/process_order/'
        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'form': userFormData,
                    'shipping': shippingInfo
                })
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                /*alert('Bạn đã đặt hàng thành công! , nhấn OK để quay lại Trang Chủ tiếp tục mua sắm !!');*/

                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

                window.location.href = "{% url 'done' %}"
                    /*window.location.href = "{% url 'store' %}"*/
            })
    }
</script>
{% endblock content %}