{% extends 'store/main.html' %} {% load static %} {% block title %} DONE {% endblock title %} {% block content %}
<br><br><br><br><br><br>
<h5>
    <strong>
        Bạn đã đặt hàng thành công! , nhấn vào <a href="{% url 'store' %}" class="btn btn-outline-success"> đây </a> để quay lại Trang Chủ tiếp tục mua sắm !!
        <br><br>
        Xin chân thành cám ơn bạn đã tin tưởng thương hiệu của chúng tôi!!
    </strong>
</h5>
<br><br><br><br><br><br><br><br><br><br><br>
<br> {% endblock content %}